.all-goods__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $font-color-headers;
}

.all-goods__text {
  font-weight: inherit;
}
