.changes {
  padding-top: 17px;

  background-color: $background-color-gray;
}

.changes__container {
  width: 280px;
  margin: 0 auto;
}

.changes__header {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: $font-color-headers;
}

.changes__description {
  width: 270px;
  margin-bottom: 25px;
}

.changes__stats-list {
  @include list-reset;
  margin-bottom: 34px;

  display: flex;
  justify-content: space-between;
}

.changes__stats-item {
  width: 124px;
  height: 56px;
  padding-top: 13px;

  text-align: center;

  border: 1px solid $border-color-mid-gray;
  border-radius: 3px;
}

.changes__stats-value {
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $font-color-headers;
}

.changes__stats-feature {
  width: 87px;
  margin: 0 auto;
  margin-top: 9px;

  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;

  background-color: $background-color-gray;
}

.changes__cost {
  margin: 0;
  margin-bottom: 37px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $font-color-headers;
}

.changes__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 29px;
}

.changes__toggle-wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding-bottom: 36px;
  padding-left: 39px;
  padding-right: 39px;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 99px;

    width: 84px;
    height: 14px;

    border: 1px solid $border-color-mid-gray;
    border-radius: 6px;
    background-color: $font-color-light;
  }

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 105px;

    width: 35px;
    height: 6px;

    border-radius: 3px;
    background-color: $button-green;
  }
}

.changes__toggle {
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $font-color-headers;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:first-child {
    margin-left: 5px;
  }
}

@media (min-width: $tablet-width) {
  .changes {
    padding-top: 13px;

    background-color: $font-color-light;
  }

  .changes__container {
    width: 708px;
    margin-bottom: 221px;
  }

  .changes__header {
    margin-bottom: 64px;

    font-size: 60px;
    line-height: 60px;
  }

  .changes__description {
    width: 680px;
    margin: 0;
    margin-bottom: 53px;

    font-size: 16px;
    line-height: 24px;
  }

  .changes__stats-container {
    display: flex;
  }

  .changes__stats-list {
    width: 366px;
  }

  .changes__stats-item {
    width: 162px;
    height: 72px;
    padding-top: 14px;
  }

  .changes__stats-value {
    font-size: 30px;
    line-height: 37px;
  }

  .changes__stats-feature {
    width: 130px;
    margin-top: 11px;

    font-size: 14px;
    line-height: 14px;

    background-color: $font-color-light;
  }

  .changes__cost {
    width: 195px;
    margin: 0;
    margin-left: auto;
    padding-top: 6px;

    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }

  .changes__slider {
    min-height: 462px;

    background-color: $background-color-gray;
  }

  .changes__img {
    position: relative;
    top: -169px;
    left: 6px;
  }

  .changes__toggle-wrapper {
    width: 708px;
    margin-top: -179px;
    padding-left: 64px;
    padding-right: 70px;
    padding-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 140px;

      width: 428px;
      height: 6px;

      border-radius: 3px;
      background-color: $border-color-mid-gray;
    }

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 350px;

      width: 8px;
      height: 8px;

      border-radius: 4px;
      background-color: $button-green;

      box-shadow: 0 0 0 12px $font-color-light,
        0 0 0 14px $border-color-mid-gray,
        0 2px 5px 14px rgba($color: #000000, $alpha: 0.15);
    }

    &:hover::after {
      box-shadow: 0 0 0 12px $font-color-light,
        0 0 0 14px $border-color-mid-gray,
        0 3px 5px 14px rgba($color: #000000, $alpha: 0.25);
    }

    &:active::after {
      box-shadow: 0 0 0 12px $font-color-light,
        0 0 0 14px $button-green,
        0 4px 5px 14px rgba($color: #000000, $alpha: 0.3);
    }
  }

  .changes__toggle {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 5px;

    border-bottom: 1px dotted $border-color-gray;

    &:hover {
      border-bottom: 1px solid $border-color-gray;
    }

    &:active {
      border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .changes {
    background-color: $background-color-gray;
  }

  .changes__wrapper {
    display: flex;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }

  .changes__container {
    width: 570px;
    margin: 0;
  }

  .changes__header {
    margin-top: -148px;
    margin-bottom: 147px;
  }

  .changes__description {
    width: 435px;
    margin-bottom: 67px;
  }

  .changes__stats-container {
    flex-direction: column;
  }

  .changes__stats-list {
    margin-bottom: 55px;
  }

  .changes__stats-feature {
    background-color: $background-color-gray;
  }

  .changes__cost {
    width: 328px;
    margin-left: 0;
    padding-top: 0;

    text-align: left;
  }

  .changes__cost-value {
    display: inline-block;
    margin-left: 59px;

    vertical-align: top;
  }

  .changes__slider {
    width: 690px;
    min-height: 448px;
    margin-left: auto;

    background-color: transparent;
  }

  .changes__img {
    position: static;
    margin-bottom: 37px;
    margin-top: -200px;
    margin-left: 39px;
  }

  .changes__toggle-wrapper {
    margin-top: 0;
    margin-left: 50px;
  }
}
