.copyright__link {
  display: flex;
  justify-content: space-between;
  width: 280px;
  min-height: 84px;
  margin: 0 auto;

  font-size: 16px;
  line-height: 16px;
  color: $font-color-base;
}

.copyright__link-text {
  margin-top: 30px;
}

.copyright__img {
  margin-top: 19px;
  margin-right: -7px;

  fill: $link-color-gray;
}

.copyright__link:hover .copyright__img {
  fill: $button-green;
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright__link {
    width: 162px;
  }

  .copyright__link-text {
    margin-top: 66px;
  }

  .copyright__img {
    margin-top: 55px;
  }
}
