.logo {
  display: inline-block;

  vertical-align: top;
}

@media (min-width: $tablet-width) {
  .logo {
    min-height: auto;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    min-height: 113px;
  }
}
