.page-header {
  width: 320px;
  min-height: 66px;
  margin: 0 auto;

  border-bottom: 1px solid $border-color-light;
}

.page-header__logo-link {
  margin-top: 11px;
  margin-bottom: 12px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    width: $tablet-width;
    min-height: 82px;
    padding-top: 24px;
    padding-right: 30px;
    padding-left: 30px;

    border: none;
  }

  .page-header__logo-link {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    width: $desktop-width;
    padding-right: 40px;
    padding-left: 40px;
  }
}
