.product-additional {
  min-height: 129px;
  padding-top: 13px;
}

.product-additional__title {
  margin: 0;
  margin-bottom: 12px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $font-color-headers-additional;
}

.product-additional__stats {
  width: 280px;
  margin-bottom: 14px;

  line-height: 14px;

  border-collapse: collapse;
}

.product-additional__stats-data--value {
  text-align: right;
}
