.promo-gift {
  width: 280px;
  height: 289px; /* временно*/
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo-gift__description {
  font-size: 16px;
  line-height: 20px;
  color: $font-color-light;
  text-align: center;
}
