.promo-gift {
  width: 280px;
  min-height: 289px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
  padding-top: 187px;

  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo-gift__description {
  position: relative;

  width: 165px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;

  font-size: 16px;
  line-height: 20px;
  color: $font-color-light;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: -122px;
    left: 55px;

    width: 55px;
    height: 60px;

    background-image: url("../../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}
