.social {
  width: 280px;
  margin: 0 auto;

  border-bottom: 1px solid $border-color-light-gray;
}

.social__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 125px;
  min-height: 62px;
  margin-left: 74px;
  margin-right: 82px;
  padding-top: 24px;
}

.social__img {
  fill: $link-color-gray;
}

.social__link:hover .social__img {
  fill: $button-green;
}

.social__link:active .social__img {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social {
    width: 324px;
    border-bottom: none;
  }

  .social__list {
    margin-left: 80px;
    padding-top: 0;
  }

  .social__item {
    &--vk {
      padding-top: 66px;
    }

    &--insta {
      padding-top: 63px;
    }

    &--fb {
      padding-top: 60px;
    }
  }

  .social__img {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    width: 570px;
  }

  .social__list {
    margin-left: 132px;
  }
}
