// colors
$font-color-base: #444444;
$font-color-headers: #111111;
$font-color-headers-additional: #222222;
$font-color-light: #ffffff;

$link-color-gray: #666666;

$button-green: #68b738;
$button-green-hover: #5eaa2f;
$button-gray: #f2f2f2;
$button-gray-hover: #ebebeb;

$background-color-gray: #f2f2f2;
$background-color-darker-gray: #eaeaea;

$border-color-light: #e6e6e6;
$border-color-gray: #989898;
$border-color-light-gray: #d9d9d9;
$border-color-mid-gray: #cdcdcd;

$tablet-width: 768px;
$desktop-width: 1300px;
